# z3: Data Quality

## Data Engineering Capstone Project

### First run the cell below

In [3]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading https://files.pythonhosted.org/packages/30/5f/2e5c564bd86349fe6b82ca840f46acf6f4bb76d79ba9057fce3d3e008864/python_dotenv-0.20.0-py3-none-any.whl
Installing collected packages: python-dotenv
Successfully installed python-dotenv-0.20.0

In [6]:
import warnings
import pandas as pd

from base.z3_base import z3Base
from z3_nodes.z3_inventory import z3Inventory
from z3_nodes.z3_sellout import z3Sellout

warnings.filterwarnings("ignore")
pd.options.display.max_rows = 999
pd.options.display.max_columns = 50
pd.set_option("display.float_format", lambda x: "%.5f" % x)

### Then run the cell below
Now the z3 will show here the data, first of all I used the client_id for privacy purposes, also de provider_id, but imagine you query the actual name of each client and provider, so now we know the suspicious dailys that may have useless values.

In the next cell we can see that posibly the provider 18 for the client 1 has only 1 row in its report, that looks very suspicious, the next step would be to download the raw file and check if the information was downloaded in that way if so, the problem was the site so next we restart the scrapper execution and delete the records loaded.
Same for client 1 and provider 19.
There's also a case of higher than expected values we can see that with the client 3 and provider 29, on both indicators scrapper_pos_sales and scrapper_rows, those are very high than expected for that site, giving you some context that website returns 1000 rows at maximum, that day has 7319!!.

In [2]:
z3Sellout()

,client_id,provider_id,daily,scrapper_pos_qty,scrapper_pos_sales,scrapper_curr_on_hand_qty,scrapper_rows
0,1,6,2022/05/01,972.00000,104458.49900,0.00000,98.00000
1,1,14,2022/04/21,35960.00000,332503.70000,0.00000,543.00000
2,1,14,2022/04/23,12409.00000,122844.38000,0.00000,617.00000
3,1,14,2022/04/26,17017.00000,162978.96000,0.00000,561.00000
4,1,14,2022/04/28,17401.00000,193816.96000,0.00000,533.00000
5,1,14,2022/05/01,951.00000,14379.88000,0.00000,207.00000
6,1,14,2022/05/02,764.00000,10936.39000,0.00000,156.00000
7,1,18,2022/04/18,0.12500,58.50000,0.00000,1.00000
8,1,18,2022/04/30,4897.97930,45712.67000,0.00000,24.00000
9,1,19,2022/05/01,0.68750,478.84000,0.00000,2.00000
10,1,19,2022/05/02,0.68750,478.84000,0.00000,2.00000
11,1,21,2022/05/02,18890.20000,59886.36000,0.00000,44.00000
12,3,29,2022/04/20,10870.00000,231016.46005,0.00000,4688.00000
13,3,29,2022/04/27,17736.00000,363973.23993,0.00000,7319.00000
14,6,1,2022/04/30,974.00000,42486.65000,0.00000,353.00000

### Then run the cell below

In [3]:
z3Inventory()

,client_id,provider_id,daily,scrapper_pos_qty,scrapper_pos_sales,scrapper_curr_on_hand_qty,scrapper_rows
0,1,1,2022/04/21,0.00000,0.00000,11730.00000,80.00000
1,1,1,2022/04/28,0.00000,0.00000,7410.00000,63.00000
2,1,11,2022/04/27,0.00000,0.00000,1029466.00000,3001.00000
3,1,12,2022/04/27,0.00000,0.00000,291430.00000,301.00000
4,1,18,2022/05/01,0.00000,0.00000,156.14583,3.00000
5,1,18,2022/05/02,0.00000,0.00000,156.14583,3.00000
6,1,19,2022/05/01,0.00000,0.00000,927.39583,17.00000
7,1,19,2022/05/02,0.00000,0.00000,927.39583,17.00000
8,2,11,2022/04/27,0.00000,0.00000,132980.00000,2171.00000
9,2,15,2022/04/20,0.00000,0.00000,527538.00000,552.00000
10,2,24,2022/04/21,0.00000,0.00000,0.00000,1317.00000
11,2,24,2022/04/23,0.00000,0.00000,0.00000,1450.00000
12,2,24,2022/04/24,0.00000,0.00000,0.00000,1668.00000
13,2,24,2022/04/26,0.00000,0.00000,0.00000,1439.00000
14,2,24,2022/04/27,0.00000,0.00000,16690.00000,1091.00000
15,2,24,2022/04/29,0.00000,0.00000,7980.00000,1324.00000
16,2,24,2022/04/30,0.00000,0.00000,6250.00000,1454.00000
17,2,24,2022/05/03,0.00000,0.00000,0.00000,1478.00000
18,2,24,2022/05/04,0.00000,0.00000,0.00000,1357.00000
19,2,24,2022/05/05,0.00000,0.00000,0.00000,1258.00000
20,2,24,2022/05/06,0.00000,0.00000,0.00000,1251.00000
21,2,24,2022/05/07,0.00000,0.00000,0.00000,1369.00000
22,3,11,2022/04/27,0.00000,0.00000,229382.00000,1985.00000
23,3,29,2022/04/18,0.00000,0.00000,0.00000,1324.00000
24,3,29,2022/04/19,0.00000,0.00000,0.00000,1038.00000
25,3,29,2022/04/20,0.00000,0.00000,0.00000,4680.00000
26,3,29,2022/04/21,0.00000,0.00000,0.00000,1204.00000
27,3,29,2022/04/22,0.00000,0.00000,0.00000,793.00000
28,3,29,2022/04/23,0.00000,0.00000,0.00000,975.00000
29,3,29,2022/04/24,0.00000,0.00000,0.00000,1475.00000
30,3,29,2022/04/25,0.00000,0.00000,0.00000,1263.00000
31,3,29,2022/04/26,0.00000,0.00000,0.00000,1356.00000
32,3,29,2022/04/27,0.00000,0.00000,0.00000,7319.00000
33,3,29,2022/04/28,0.00000,0.00000,0.00000,1195.00000
34,3,29,2022/04/29,0.00000,0.00000,0.00000,1958.00000
35,3,29,2022/05/01,0.00000,0.00000,0.00000,1817.00000
36,3,29,2022/05/02,0.00000,0.00000,0.00000,1360.00000
37,3,29,2022/05/03,0.00000,0.00000,0.00000,980.00000
38,3,29,2022/05/04,0.00000,0.00000,0.00000,1703.00000
39,3,29,2022/05/05,0.00000,0.00000,0.00000,845.00000
40,3,29,2022/05/06,0.00000,0.00000,0.00000,773.00000
41,3,29,2022/05/07,0.00000,0.00000,0.00000,996.00000
42,4,24,2022/04/24,0.00000,0.00000,270.00000,3928.00000
43,4,24,2022/05/01,0.00000,0.00000,4140.00000,3955.00000
44,6,1,2022/04/21,0.00000,0.00000,2944.00000,193.00000
45,6,1,2022/04/28,0.00000,0.00000,2089.00000,142.00000
46,6,3,2022/05/04,0.00000,0.00000,71794.00000,2598.00000
47,6,3,2022/05/05,0.00000,0.00000,71781.00000,2620.00000
48,6,3,2022/05/06,0.00000,0.00000,71408.00000,2620.00000
49,6,3,2022/05/07,0.00000,0.00000,70736.00000,2616.00000
50,6,11,2022/04/27,0.00000,0.00000,257712.00000,5256.00000

### Run the cell below only if you want to delete the tables in z3_results database.

In [2]:
z3Base.drop_tables()

## I have done all my project on python files, from here I will use code snippets to explain each step on the process, the cells are not intended to run exactly as is intended in the "run the program" part above.

## Step 1: Scope the project and gather the data
I will use the data from our clients databases,  I will anonymize an example of the raw data extracted from the databases, the data sources which are each database are more than 2 as it's expected in the project rubric. As it's defined in the anonymized datasets, the raw data extracted from the database surpasses 5 million rows on each report type (sellout, inventory). From those rows it summarizes the indicators pos qty, pos sales (sellout) and curr on hand qty (inventory) and groups it into the report daily (the date to which the data corresponds).


**Correction**
The base tables sellout and inventory interact with 4 different tables, the first one is the historical_execution_results that let us improve the query performance, that one is used in the query. Helps me to know what execution ids I must filter by id instead of filtering the sellout by a date range in this case the comparation would be against millions of rows.

The second one is the config reports table that is loaded as a variable for each client, this variable is a copy from the config report table of scrapper database, with only 2 important values first the provider as the key and second the config report id, the config report id let us know what specific report are we talking about, that specific report_id is combined into the extract query, and having that file in local instead of performing another query allows us to save some connections, let's say our database instances usually carry 20 out of 10 connections, what I mean is that they are always overwhelmed. Here's an example:

CLIENT_1="{
    'SELLOUT':{
        'PROVIDER': 18,
        'PROVIDER: 17,
        'PROVIDER': 13,
        'PROVIDERY': 14
    }"


The other two important tables are hidden into the .env file, there I show the client name and client_id, provider name and provider_id, to correlate the provider name, and client name into the actual report that is being queried, the value of the dictionary assigns an id for each provider/client. So I know to which client and provider each report belongs to.

That combination happens in the extract function:

In [9]:
from typing import Tuple
from pandas import DataFrame

def _extract(self) -> Tuple[DataFrame, bool]:
    """Performs the extraction query and inserts the client, and provider
    of each request.

    @return df: the dataframe that is the result of the query.
    @return empty_df: a boolean that tells you if the dataframe is empty or not.
    """
    df: DataFrame = self._perform_extract_query()
    self.z3_raw_data = pd.concat([df, self.z3_raw_data])
    df['scrapper_rows'] = 1
    if self.report_type == 'INVENTORY':
        change_column_datatype(df, 'scrapper_curr_on_hand_qty', 'float')
    else:
        change_column_datatype(df, 'scrapper_pos_sales', 'float')
        change_column_datatype(df, 'scrapper_pos_qty', 'float')

    df: DataFrame = df.groupby('daily').aggregate('sum')
    df: DataFrame = pd.DataFrame(df.reset_index())
    df['client'] = self.client # <--------------------------- Here
    df['provider'] = self.provider # <----------------------- Here
    empty_df: int = df.shape[0]
    empty_df: bool = empty_df == 0
    return df, empty_df


Example of the tables/dictionaries:
 
PROVIDER_IDS="{
    'PROVIDER': 1,
    'PROVIDER': 2,
    'PROVIDER': 3,
    'PROVIDER': 4,
    'PROVIDER': 5,


CLIENT_IDS="{
    'CLIENT': 1,
    'CLIENT': 2,
    'CLIENT': 3,
    'CLIENT': 4,
    'CLIENT': 5,
    'CLIENT': 6,
    'CLIENT': 7
}"

In [7]:
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 50
pd.set_option("display.float_format", lambda x: "%.5f" % x)

df = pd.read_csv('raw_data_SELLOUT.csv')
df.head(10)

        daily  scrapper_pos_qty  scrapper_pos_sales
0  2022/04/11               1.0               45.74
1  2022/04/11               1.0               46.55
2  2022/04/11               1.0               50.00
3  2022/04/11               1.0               91.20
4  2022/04/11               1.0               97.41
5  2022/04/11               1.0              111.02
6  2022/04/11               1.0              103.36
7  2022/04/11               1.0               95.37
8  2022/04/11               1.0               97.41
9  2022/04/11               1.0              103.36

## Step 2: Explore and asses the data
As I said in the project scope the two most important problems for us are when indicators have an extremely high value (duplicated) or extremely low values, I will solve this by taking the outlier limits that are calculated by substracting inter quartile range * 1.5 to quartile 1 or adding it to quartile 3, but instead I will use inter quartil range * 3, because I dont need to find data variability outliers instead only extreme ones.

In [12]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 999
pd.options.display.max_columns = 50
pd.set_option("display.float_format", lambda x: "%.5f" % x)

df = pd.read_csv('raw_data_SELLOUT.csv')
df = df.groupby('daily').aggregate('sum')

In [15]:
df.describe()

       scrapper_pos_qty  scrapper_pos_sales
count          31.00000            31.00000
mean      1455139.27057      34048785.33055
std        310791.69812       6636149.44017
min        828393.10000      16811180.81787
25%       1312710.50085      32506898.93931
50%       1528647.35510      35323766.01079
75%       1596825.05735      37921888.60274
max       2058449.09200      46030551.08599

## Step 3: Define the data model
#### Conceptual model
My data model will be a star schema, since we need to analyze specifically numeric indicators, that will tell us what's wrong with the data gathered by the robots, it will be easier for joins and centered on the quantitative indicators.


### Database tables
#### Fact Table

* **indicators** - quantitative values that show the performance of a product.
    * client_id, report_id, provider_id, execution_id, daily_id, scrapper_pos_qty, scrapper_pos_sales, scrapper_curr_on_hand_qty, scrapper_rows.

#### Dimension Tables

* **clients** - Our clients.
    * client_id, client
* **daily** - The date to which the data belongs.
    * daily_id, daily, daily_year, daily_month, daily_day.
* **reports** - The report type of the data uploaded.
    * report_id, report_type.
* **providers** - The store type/brand where the products are being sold. 
    * provider_id, provider.
* **executions** - The identifier of the data that is loaded into the z3_results database once you run any of the nodes (sellout or inventory).
    * execution_id, execution_date, execution_year, execution_month, execution_day, execution_hour, execution_minute.

#### Mapping out data pipelines
* 1. Summarize the data in the database of each client, grouping the results by daily, and saving the columns provider, client, pos qty, pos sales and curr on hand qty columns.
* 2. Process the past into a dataframe and apply statistical rules described on step 2 to filter the values we want.
* 3. Take the result into a master of all clients and providers, and posible days with extreme values, create the id of each of the dimension tables.
* 4. Slice the master dataframe into the star schema tables.
* 5. Perform the loading queries for each table.
* 6. Run the tests to confirm the data loaded has the same values as the data extracted and processed, I do this with 5 tests, each one correlates with the 3 principal indicators, also the scrapper rows that correspond to the original report uploaded into the clients database, and the total dailys in the results of step 2 must be present in the dailys uploaded that correlate with the execution id.
* 7. Apply the zzz, and sleep better, you will be aware if the websites are returning useless data, and the clients will be happy for it.
* 8. If needed drop the tables by running the drop_tables method on jupyter lab.

## Step 4: Run pipelines to model the data
The pipelines are defined in the **base/z3_base.py** file, the most important methods that let us execute the pipelines are **extract_and_transform_each_provider_and_client()** it's too clear what it does haha! **load()** that takes the results into star schema and uploads into the z3_results database, **data_quality_checks()** that performs tests and **drop_tables()** that gets rid of the tables if needed, the brand new function that **display_results()**.

The data dictionary is in a separate file.

### The next cell is the z3_base.py file that is the heart of this project.

In [17]:
import ast
import datetime as dt
import logging
import os
from typing import Dict, List, Tuple

import numpy as np
import pandas as pd
import psycopg2
import pytest
import pytz
from dotenv import find_dotenv, load_dotenv
from pandas import DataFrame

from base.constants import columns_quality_checks
from base.z3_interface import z3Interface
from engineering.engineering import (change_column_datatype,
                                     create_date_yyyy_mm_dd,
                                     create_date_yyyy_mm_dd_hh_mins)
from extract_and_quality.extract_and_quality_queries import quality_checks
from load.load_queries import (create_table_queries, drop_table_queries,
                               insert_table_queries_dict)


class z3Base(z3Interface):
    """Class that defines and directs the execution of the etl process."""
    DAILY_FORMAT: str = "%Y/%m/%d"

    def __init__(self):
        """Defines the variables that will be used on the etl process."""
        self.z3_tables_dictionary: Dict[str, str] = {}
        load_dotenv(find_dotenv())

        self.client_ids = ast.literal_eval(os.getenv("CLIENT_IDS"))
        self.provider_ids = ast.literal_eval(os.getenv("PROVIDER_IDS"))
        self.report_ids = ast.literal_eval(os.getenv("REPORT_IDS"))

        self.z3_indicators_master: DataFrame = pd.DataFrame()
        self.z3_dates_table: DataFrame = pd.DataFrame()
        self.z3_reports_table: DataFrame = pd.DataFrame()
        self.z3_clients_table: DataFrame = pd.DataFrame()
        self.z3_providers_table: DataFrame = pd.DataFrame()
        self.z3_indicators_table: DataFrame = pd.DataFrame()
        self.z3_executions_table: DataFrame = pd.DataFrame()

        self.z3_raw_data: DataFrame = pd.DataFrame()

        self.z3_results_password_db: str = os.getenv("RESULTS_PASSWORD")
        self.z3_results_user_db: str = os.getenv("RESULTS_USER_DB")
        self.z3_results_host_db: str = os.getenv("RESULTS_HOST_DB")

    def extract_and_transform_each_provider_and_client(self):
        """Performs the extraction that queries each database for each client
        then process the result of the query to filter the data and get only
        the extreme values that could be an error from the site."""
        for self.client in self.clients:
            provider_and_config_report_id: Dict[str, Dict] = ast.literal_eval(
                os.getenv(self.client.upper().strip()))
            provider_and_config_report_id: Dict[str, str] = provider_and_config_report_id.get(
                self.report_type)
            providers: List[str] = list(provider_and_config_report_id.keys())

            self.password_db: str = os.getenv("PASSWORD")
            self.user_db: str = os.getenv("USER_DB")
            self.host_db: str = os.getenv("HOST_DB") if self.client.upper() not in os.getenv(
                "CLIENTS_DB2") else os.getenv(
                "HOST_DB_2")

            for self.provider in providers:
                self.config_report: int = provider_and_config_report_id.get(
                    self.provider)
                z3_df, empty_df = self._extract()
                if not empty_df:
                    z3_indicators, z3_indicators_empty = self._transform(
                        z3_df=z3_df)
                    if not z3_indicators_empty:
                        self.z3_indicators_master = pd.concat(
                            [z3_indicators, self.z3_indicators_master])

        self.z3_raw_data.to_csv(f'raw_data_{self.report_type}.csv', index=False)
        tz = pytz.timezone('America/Mexico_City')
        today_mx: dt.date = dt.datetime.now(tz=tz).today()
        today_str: str = today_mx.strftime('%Y/%m/%d-%H:%M')
        self.z3_indicators_master['execution_date'] = today_str

    def _get_date_range(self) -> Tuple[str, str]:
        """Defines tha date range that will be queried amongst the databases.

        @return thirty_days_ago: the date that corresponds thirty days ago before yesterday.
        @return yesterday: the date that corresponds to the date before today.
        """
        tz = pytz.timezone('America/Mexico_City')
        today_mx: dt.date = dt.datetime.now(tz=tz).today()
        yesterday: dt.date = (today_mx - dt.timedelta(days=1))
        thirty_days_ago: dt.date = (yesterday - dt.timedelta(days=30))
        yesterday: str = yesterday.strftime(self.DAILY_FORMAT)
        thirty_days_ago: str = thirty_days_ago.strftime(self.DAILY_FORMAT)

        return thirty_days_ago, yesterday

    def _extract(self) -> Tuple[DataFrame, bool]:
        """Performs the extraction query and inserts the client, and provider
        of each request.

        @return df: the dataframe that is the result of the query.
        @return empty_df: a boolean that tells you if the dataframe is empty or not.
        """
        df: DataFrame = self._perform_extract_query()
        self.z3_raw_data = pd.concat([df, self.z3_raw_data])
        df['scrapper_rows'] = 1
        if self.report_type == 'INVENTORY':
            change_column_datatype(df, 'scrapper_curr_on_hand_qty', 'float')
        else:
            change_column_datatype(df, 'scrapper_pos_sales', 'float')
            change_column_datatype(df, 'scrapper_pos_qty', 'float')

        df: DataFrame = df.groupby('daily').aggregate('sum')
        df: DataFrame = pd.DataFrame(df.reset_index())
        df['client'] = self.client
        df['provider'] = self.provider
        empty_df: int = df.shape[0]
        empty_df: bool = empty_df == 0
        return df, empty_df

    def _perform_extract_query(self) -> DataFrame:
        """Connects to the database selected for each client and does the
        query, also gets the result into a dataframe format.

        @return df: the data frame that is the result of the query.
        """
        thirty_days_ago, yesterday = self._get_date_range()
        db_name: str = f"scrappers_{self.client.lower()}"
        connection: str = f"host={self.host_db} dbname={db_name} user={self.user_db} password={self.password_db}"
        df: DataFrame = pd.DataFrame()
        conn = psycopg2.connect(connection)
        try:
            conn.set_session(autocommit=True, readonly=True)
            cur = conn.cursor()
            query_tuple: Tuple = (self.config_report,
                                  thirty_days_ago,
                                  yesterday,
                                  thirty_days_ago,
                                  yesterday)

            cur.execute(self.query_db, query_tuple)
            df: DataFrame = DataFrame(
                cur.fetchall(),
                columns=self.columns,
            )
        except psycopg2.Error as e:
            logging.info(e)

        finally:
            conn.close()

        return df

    def _transform(self, z3_df: DataFrame) -> Tuple[DataFrame, bool]:
        """Once we have the raw data this method will filter to look for really
        extreme values.

        @param z3_df: the raw data from the database.
        @return z3_unified: since the data frame is filtered by extreme results for 3 different columns
            this dataframe corresponds to each result on the columns altogether in one dataframe.
        """
        indicator_2_emptiness: bool = True
        z3_indicator_1, indicator_1_emptiness = self._transform_quantitative_indicators(
            z3_df,
            self.key_performance_indicator_1
        )

        if self.key_performance_indicator_2:
            z3_indicator_2, indicator_2_emptiness = self._transform_quantitative_indicators(
                z3_df,
                self.key_performance_indicator_2
            )

        z3_rows, rows_emptiness = self._transform_quantitative_indicators(
            z3_df,
            'scrapper_rows'
        )

        z3_unified: DataFrame = pd.DataFrame()
        if not indicator_1_emptiness:
            z3_unified: DataFrame = pd.concat([z3_indicator_1, z3_unified])

        if not indicator_2_emptiness and self.key_performance_indicator_2:
            z3_unified: DataFrame = pd.concat([z3_indicator_2, z3_unified])

        if not rows_emptiness:
            z3_unified: DataFrame = pd.concat([z3_rows, z3_unified])

        z3_unified: DataFrame = z3_unified.drop_duplicates(keep='first')

        z3_unified_empty: bool = bool(
            indicator_2_emptiness and indicator_1_emptiness)

        return z3_unified, z3_unified_empty

    def _transform_quantitative_indicators(self, df: DataFrame, column: str) -> Tuple[DataFrame, bool]:
        """
        Receives the raw dataframe and filters the column for its extreme values, using iqr * 3 to look
        for extreme outliers.
        @param df: the raw dataframe.
        @param column: the column to be filtered quantitatively
        @return df_fails: the result of the filter that are the possible fails from the website scrapped.
        @return empty_df: a boolean that shows if there wasnt any extreme results.
        """
        first_q: float = np.percentile(df[column], 25)
        third_q: float = np.percentile(df[column], 75)

        iqr: float = third_q - first_q
        lower_limit: float = first_q - (iqr * 3)
        lower_limit: float = lower_limit if lower_limit > 0 else 1
        upper_limit: float = third_q + (iqr * 3)

        df_lower: DataFrame = df[df[column] < lower_limit]
        df_upper: DataFrame = df[df[column] > upper_limit]

        df_fails: DataFrame = pd.DataFrame()
        df_fails: DataFrame = pd.concat([df_lower, df_fails])
        df_fails: DataFrame = pd.concat([df_upper, df_fails])

        empty_df: int = df_fails.shape[0]
        empty_df: bool = empty_df == 0
        df_fails['report_type'] = self.report_type

        return df_fails, empty_df

    def load(self):
        """Slices the z3_indicators_master dataframe that agglomerates the data
        from all the clients and providers into each table of the star schema
        format, for that it creates the id for each table.

        After that loads the tables into the z3_results database.
        """
        self._create_z3_indicators_dataframe_ids()
        self._create_star_schema_tables()
        self.z3_tables_dictionary: Dict[str, DataFrame] = {
            'DATES': self.z3_dates_table,
            'REPORTS': self.z3_reports_table,
            'CLIENTS': self.z3_clients_table,
            'PROVIDERS': self.z3_providers_table,
            'INDICATORS': self.z3_indicators_table,
            'EXECUTIONS': self.z3_executions_table
        }
        self._perform_load_queries()

    def _create_z3_indicators_dataframe_ids(self):
        """Executes the method to create the ids for each table."""
        self._create_daily_id()
        self._create_client_id()
        self._create_report_id()
        self._create_provider_id()
        self._create_execution_id()

    def _create_daily_id(self):
        """Takes the master data frame, gets the daily id based on its
        value."""
        self.z3_indicators_master['daily_id'] = self.z3_indicators_master['daily'].copy(
        )
        change_column_datatype(self.z3_indicators_master, 'daily_id', 'str')
        self.z3_indicators_master['daily_id'] = self.z3_indicators_master['daily_id'].apply(
            lambda x: x.replace('/', ''))
        change_column_datatype(self.z3_indicators_master, 'daily_id', 'int')

    def _get_client_id(self, client: str) -> int:
        """Receives the client name and returns its id.

        @param client: the client name.
        @return client_id: the client id as an integer.
        """
        return self.client_ids[client]

    def _create_client_id(self):
        """Creates the client_id column, by executing the get_client_id into a
        copy of the client names column."""
        self.z3_indicators_master['client_id'] = self.z3_indicators_master['client'].copy(
        )
        self.z3_indicators_master['client_id'] = self.z3_indicators_master['client_id'].apply(
            self._get_client_id)
        change_column_datatype(self.z3_indicators_master, 'client_id', 'int')

    def _get_provider_id(self, provider: str) -> int:
        """Receives the provider name and returns its id.

        @param provider: provider name.
        @return: the id as an integer.
        """
        return self.provider_ids[provider]

    def _create_provider_id(self):
        """Creates the provider_id column."""
        self.z3_indicators_master['provider_id'] = self.z3_indicators_master['provider'].copy(
        )
        self.z3_indicators_master['provider_id'] = self.z3_indicators_master['provider_id'].apply(
            self._get_provider_id)
        change_column_datatype(self.z3_indicators_master, 'provider_id', 'int')

    def _get_report_id(self, type_report: str) -> int:
        """Receives the report type and returns its id.

        :param type_report: the report type.
        :return report_id: the report id as an integer.
        """
        return self.report_ids[type_report]

    def _create_report_id(self):
        """Executes the _get_report_id method into the report_id column to get
        the ids."""
        self.z3_indicators_master['report_id'] = self.z3_indicators_master['report_type'].copy(
        )
        self.z3_indicators_master['report_id'] = self.z3_indicators_master['report_id'].apply(
            self._get_report_id)
        change_column_datatype(self.z3_indicators_master, 'report_id', 'int')

    def _create_execution_id(self):
        """Creates the execution_id column."""
        self.z3_indicators_master['execution_id'] = self.z3_indicators_master['execution_date'].copy(
        )
        change_column_datatype(self.z3_indicators_master,
                               'execution_id', 'str')
        self.z3_indicators_master['execution_id'] = self.z3_indicators_master['execution_id'].apply(
            lambda x: x.replace('/', ''))
        self.z3_indicators_master['execution_id'] = self.z3_indicators_master['execution_id'].apply(
            lambda x: x.replace(':', ''))
        self.z3_indicators_master['execution_id'] = self.z3_indicators_master['execution_id'].apply(
            lambda x: x.replace('-', ''))

        change_column_datatype(self.z3_indicators_master,
                               'execution_id', 'int')

    def _create_star_schema_tables(self):
        """Slices the z3_indicators_master dataframe that agglomerates the data
        from all the clients and providers into each table of the star schema
        format."""
        self._get_z3_dates_table()
        self._get_z3_reports_table()
        self._get_z3_clients_table()
        self._get_z3_providers_table()
        self._get_z3_indicators_table()
        self._get_z3_executions_table()

    def _get_z3_dates_table(self):
        """Copies the data from the master file into another dataframe that
        will correspond to the dates table, it filters the column to the only
        needed according to each table from the star schema defined."""
        self.z3_dates_table: DataFrame = self.z3_indicators_master.copy()
        self.z3_dates_table: DataFrame = self.z3_dates_table[[
            'daily_id', 'daily']]
        self.z3_dates_table: DataFrame = create_date_yyyy_mm_dd(
            self.z3_dates_table)
        self.z3_dates_table = self.z3_dates_table.drop_duplicates(
            subset='daily_id')

    def _get_z3_reports_table(self):
        """Copies the data from the master file into another dataframe that
        will correspond to the reports table, it filters the column to the only
        needed according to each table from the star schema defined."""
        self.z3_reports_table: DataFrame = self.z3_indicators_master.copy()
        self.z3_reports_table = self.z3_reports_table[[
            'report_id', 'report_type']]
        self.z3_reports_table = self.z3_reports_table.drop_duplicates(
            subset='report_id')

    def _get_z3_clients_table(self):
        """Copies the data from the master file into another dataframe that
        will correspond to the clients table, it filters the column to the only
        needed according to each table from the star schema defined."""
        self.z3_clients_table: DataFrame = self.z3_indicators_master.copy()
        self.z3_clients_table = self.z3_clients_table[['client_id', 'client']]
        self.z3_clients_table = self.z3_clients_table.drop_duplicates(
            subset='client_id')

    def _get_z3_providers_table(self):
        """Copies the data from the master file into another dataframe that
        will correspond to the providers table, it filters the column to the
        only needed according to each table from the star schema defined."""
        self.z3_providers_table: DataFrame = self.z3_indicators_master.copy()
        self.z3_providers_table = self.z3_providers_table[[
            'provider_id', 'provider']]
        self.z3_providers_table = self.z3_providers_table.drop_duplicates(
            subset='provider_id')

    def _get_z3_indicators_table(self):
        """Copies the data from the master file into another dataframe that
        will correspond to the indicators table, it filters the column to the
        only needed according to each table from the star schema defined."""
        self.z3_indicators_table: DataFrame = self.z3_indicators_master.copy()
        if 'scrapper_pos_qty' not in list(self.z3_indicators_table.columns):
            self.z3_indicators_table['scrapper_pos_qty'] = 0
            self.z3_indicators_table['scrapper_pos_sales'] = 0
        elif 'scrapper_curr_on_hand_qty' not in list(self.z3_indicators_table.columns):
            self.z3_indicators_table['scrapper_curr_on_hand_qty'] = 0

        self.z3_indicators_table = self.z3_indicators_table[
            ['client_id', 'report_id', 'provider_id', 'execution_id', 'daily_id', 'scrapper_pos_qty',
             'scrapper_pos_sales', 'scrapper_curr_on_hand_qty', 'scrapper_rows']]

    def _get_z3_executions_table(self):
        """Copies the data from the master file into another dataframe that
        will correspond to the executions table, it filters the column to the
        only needed according to each table from the star schema defined."""
        self.z3_executions_table: DataFrame = self.z3_indicators_master.copy()
        if 'scrapper_pos_qty' not in list(self.z3_executions_table.columns):
            self.z3_executions_table['scrapper_pos_qty'] = 0
            self.z3_executions_table['scrapper_pos_sales'] = 0
        elif 'scrapper_curr_on_hand_qty' not in list(self.z3_executions_table.columns):
            self.z3_executions_table['scrapper_curr_on_hand_qty'] = 0

        self.z3_executions_table = self.z3_executions_table[[
            'execution_id', 'execution_date']]
        self.z3_executions_table: DataFrame = create_date_yyyy_mm_dd_hh_mins(
            self.z3_executions_table, 'execution_date')

    def _perform_load_queries(self) -> DataFrame:
        """Creates the tables and inserts the data into the z3_results
        database."""
        db_name: str = "z3_results"
        connection: str = f"host={self.z3_results_host_db} dbname={db_name} user={self.z3_results_user_db} password={self.z3_results_password_db}"
        conn = psycopg2.connect(connection)
        try:
            conn.set_session(autocommit=True, readonly=False)
            cur = conn.cursor()

            self._create_tables(cur)
            self._insert_tables(cur)

        except psycopg2.Error as e:
            logging.info(e)

        finally:
            conn.close()

    @staticmethod
    def _create_tables(cur):
        """Runs the creating tables extract_and_quality.

        @cur: database cursor
        @conn: database connection
        """
        for query in create_table_queries:
            cur.execute(query)

    def _insert_tables(self, cur):
        """Distributes the information into each table from the star schema.

        @cur: database cursor
        @conn: database connection
        """
        for key in list(insert_table_queries_dict.keys()):
            query: str = insert_table_queries_dict[key]
            dataframe: DataFrame = self.z3_tables_dictionary[key]
            for _, row in dataframe.iterrows():
                cur.execute(query, list(row))

    def data_quality_checks(self):
        """Tests if the data processed corresponds to the data loaded into the
        database."""
        database_result: DataFrame = self._perform_data_quality_query()
        database_pos_qty: float = database_result['database_pos_qty'].sum()
        database_pos_sales: float = database_result['database_pos_sales'].sum()
        database_curr_on_hand_qty: float = database_result['database_curr_on_hand_qty'].sum(
        )
        database_rows: float = database_result['database_rows'].sum()
        database_dailys: List[str] = database_result['daily'].unique()

        scrapper_pos_qty: float = self.z3_indicators_table['scrapper_pos_qty'].sum(
        )
        scrapper_pos_sales: float = self.z3_indicators_table['scrapper_pos_sales'].sum(
        )
        scrapper_rows: float = self.z3_indicators_master['scrapper_rows'].sum()
        scrapper_curr_on_hand_qty: float = self.z3_indicators_table['scrapper_curr_on_hand_qty'].sum(
        )
        scrapper_dailys: List[str] = self.z3_dates_table['daily'].unique()

        assert database_pos_qty == pytest.approx(scrapper_pos_qty, 0.2)
        assert database_pos_sales == pytest.approx(scrapper_pos_sales, 0.2)
        assert database_curr_on_hand_qty == pytest.approx(
            scrapper_curr_on_hand_qty, 0.2)
        assert database_rows == pytest.approx(scrapper_rows, 0.2)
        assert all(record in scrapper_dailys for record in database_dailys)

    def _perform_data_quality_query(self) -> DataFrame:
        """Queries the z3_results database, and takes the result into a
        dataframe."""
        db_name: str = "z3_results"
        connection: str = f"host={self.z3_results_host_db} dbname={db_name} user={self.z3_results_user_db} " \
                          f"password={self.z3_results_password_db}"
        df_quality: DataFrame = pd.DataFrame()
        conn = psycopg2.connect(connection)
        try:
            conn.set_session(autocommit=True, readonly=True)
            cur = conn.cursor()
            cur.execute(quality_checks)

            df_quality: DataFrame = DataFrame(
                cur.fetchall(),
                columns=columns_quality_checks,
            )
        except psycopg2.Error as e:
            logging.info(e)

        finally:
            conn.close()

        return df_quality

    @staticmethod
    def drop_tables():
        """Drops all the tables in the z3_results database."""
        load_dotenv(find_dotenv())
        z3_results_password_db: str = os.getenv("RESULTS_PASSWORD")
        z3_results_user_db: str = os.getenv("RESULTS_USER_DB")
        z3_results_host_db: str = os.getenv("RESULTS_HOST_DB")
        db_name: str = "z3_results"
        connection: str = f"host={z3_results_host_db} dbname={db_name} " \
                          f"user={z3_results_user_db} password={z3_results_password_db}"
        conn = psycopg2.connect(connection)
        try:
            conn.set_session(autocommit=True, readonly=False)
            cur = conn.cursor()
            for query in drop_table_queries:
                cur.execute(query)
        except psycopg2.Error as e:
            logging.info(e)

        finally:
            conn.close()

    def main(self):
        """Directs the execution order of each method."""
        self.extract_and_transform_each_provider_and_client()
        self.load()
        self.data_quality_checks()

## Step 5: Complete project write up
#### Whats' the goal?
The goal is to make sure data makes sense once it is into the scrappers database, since that data is going into the clients BI side.

### How would Spark or Airflow be incorporated?
The project is kind of thinked to be taken into an airflow dag, each of the steps is a clearly defined action that can be re-coded into python operators, spark will be implemented in case the data amount grows exponentially, at this point after summarizing the results the cost of processing is low, so that's the only way that implementing spark would be worth doing.


#### Choice of technologies
* Database: Postgresql as the open source, user friendly technology and big data capabilites once the data amount grows.
* Data wrangling: Pandas, one of the best libraries to manipulate and analyze dataframes, I also have plenty of experience with pandas.
* User Interface: Jupyter lab: As a easy to use python interface that let's you run the code with a simple click.

#### Data updates
The data must be updating everyday at 9:30 am, in order to spot useless data and have time to regenerate the reports before the client sees it on the Bussiness Intelligence report.

#### Scenarios
* Data was increased to 100x: In this case the option can be to implement Spark into the project to run the etl on parallel with EMR instances. Other solution would be to add more processing units to each database in order to accomplish the extract query, probably the other step would be to separate each client into its z3 database, since I am putting all the data togheter into one database. 
* 7am update: Get the project into an airflow DAG, so nobody will have to execute the jupyter lab manually.
* If the database needed to be accessed by 100+ people: Implement a distributed database in order to have high availability.
Another solution is to increase the database hardware, another way to solve this depending on the needs is to implement views to 'pre-load' the most complex queries.